*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: beige;
}
.container>ul>li{
    display: inline-block;
    align-items: right;

}
.container>ul>li:first-child{
    font-size: 50px;
    margin: 20px;
}
.container>ul>.list2,.list3,.list4{
    margin: 5px;
    font-size: 10px;
}
.container>ul>li>button{
    background-color: aqua;
}
.container>ul>li>button:hover{
    background-color: blue;
    cursor: pointer;
    text-align: center;
}