.conitainer{
    height: 400px;
    width: 400px;
    border: 2px solid red;
   
}
.conitainer>.box1{
    height: 100px;
    width: 100px;
    
   background-color: black;
}
.conitainer>.box2{
    height: 100px;
    width: 100px;
   
   background-color: blueviolet;
}